@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

@import url("https://use.typekit.net/srw4cth.css");

html{
	display: flex;
	justify-content: center;
	background-color: #000000;
	overflow-x: hidden;
	overflow-y: scroll;
}



h2{
	font-family: "din-condensed-variable";
	font-size: 64px;
	font-style: normal;
}

p{
	font-size: 20px;
	font-family: "GFS Didot";
	color: #FFF;
}

header{
	height: 125px;
	width: 100vw;
	background-color: #203040;
	border: 5px solid #FFB400;
}

#headerlogo{
	height: 100px;
	margin: 13.25px 32px;
}

nav{
	position: absolute;
	top: 75px;
	left: 30%;
	width: 45%;
	display: flex;
	justify-content: space-between;
}

.navbar{
	font-family: "GFS Didot";
	font-size: 36px;
	color: #FFB400;
}

footer{
	height: 125px;
	width: 100vw;
	
	background-color: #FFB400;
	border: 5px solid #FFB400;
	
	display: flex;
	flex-direction: column;
}



#hero{
	width: 85%;
	aspect-ratio: 2/1;
	border-radius: 65px;

	margin: 0px auto;
	padding: 32px;
	display: flex;
	justify-content: right;
	flex-direction: column;

	
	background-image: url("../img/landing images/duck-pond.jpg");
	background-size: cover;
	text-align: right;
	
	overflow: hidden;
	text-overflow: ellipsis;
}

#about-title{
	margin: 8px;
	color: #FFB400;
}

#bio{
	width: 50%;
	align-self: flex-end;
}

.perforations{
	width: 100vw;
	height: 60px;
	background-image: url("../img/negative-perforations.jpg");
	background-size: 90px 60px;
	margin: 10px 0px 10px 0px;
}

#portfolio-heroes{
	width: 95vw;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.portfolio-display{
	width: 75%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.portfolio-image{
	margin-top: 0px;
	margin-bottom: 40px;
	
	border-radius: 65px;
}

#email{
	text-align: center;
	font-size: 22px;
	color: black;
	margin-top: 38px;
	margin-bottom: 2px;
}

#YouTube{
	margin-top: 2px;
	text-align: center;
	color: black;
}

@media (max-width: 720px){
	
	p{
		font-size: 14px;
	}
	
	header{
		height: 75px;
		display: flex;
	}
	
	#headerlogo{
	height: 60px;
	margin: 8px 16px;
	}
	
	nav{
		width: 60%;
		top: 30px;
	}
	
	footer{
		height: 75px;
	}
	
	#hero{
	width: 90%;
	}
	
	#about-title{
	font-size: 24px;
	margin: 8px;
	color: #FFB400;
	}
	
	.perforations{
		height: 30px;
		background-size: 45px 30px;
		margin: 5px 0px;
	}
	
	.portfolio-image{
		width: 75%;
		border-radius: 32px;
		margin-bottom: 20px;
	}
	
	#email{
		margin-top: 20px;
		font-size: 16px;
	}
	
	#YouTube{
		font-size: 16px;
	}
}


