@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

@import url("https://use.typekit.net/srw4cth.css");

html{
	display: flex;
	justify-content: center;
	background-color: #000000;
}



h2{
	font-family: "din-condensed-variable";
	font-size: 64px;
	font-style: normal;
}

p{
	font-family: "GFS Didot";
	color: #FFF;
}

header{
	height: 125px;
	width: 100vw;
	background-color: #203040;
	border: 5px solid #FFB400;
}

footer{
	height: 125px;
	width: 100vw;
	background-color: #FFB400;
	border: 5px solid #FFB400;
}



#hero{
	width: 95%;
	aspect-ratio: 3/2;
	margin: 0px auto;
	padding: 32px;
	border-radius: 65px;
	background-color: #404040;
	text-align: right;
	display: flex;
	justify-content: right;
	flex-direction: column;
}

#about-title{
	margin: 8px;
	color: #FFB400;
}

#bio{
	width: 50%;
	align-self: flex-end;
}

.perforations{
	width: 100vw;
	height: 60px;
	background-image: url("/img/negative-perforations.jpg");
	background-size: 90px 60px;
	margin: 10px 0px 10px 0px;
}


@media (max-width: 720px){
	header{
		height: 75px;
	}
	
	footer{
		height: 75px;
	}
	
	#hero{
	width: 90%;
	aspect-ratio: 3/2;
	margin: 40px auto;
	padding: 32px;
	border-radius: 65px;
	background-color: #404040;
	text-align: right;
}
}

