@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

@import url("https://use.typekit.net/srw4cth.css");

html{
	display: flex;
	justify-content: center;
	background-color: #000000;
	overflow-x: hidden;
	overflow-y: scroll;
}



h2{
	font-family: "din-condensed-variable";
	font-size: 64px;
	font-style: normal;
	text-align: center;
}

p{
	font-size: 20px;
	font-family: "GFS Didot";
	color: #FFF;
}

.portfoliotitle{
	color: #FFF;
	margin-top: 2px;
	margin-bottom: 32px;
}

.negative{
	color: #FFF;
}

header{
	height: 125px;
	width: 100vw;
	background-color: #203040;
	border: 5px solid #FFB400;
}
#headerlogo{
	height: 100px;
	margin: 13.25px 32px;
}

nav{
	position: absolute;
	top: 75px;
	left: 30%;
	width: 45%;
	display: flex;
	justify-content: space-between;
}

.navbar{
	font-family: "GFS Didot";
	font-size: 36px;
	color: #FFB400;
}

.perforations{
	width: 100vw;
	height: 60px;
	background-image: url("../../img/negative-perforations.jpg");
	background-size: 90px 60px;
	margin: 10px 0px 10px 0px;
}

.portfoliocontainer{
	margin-left: 16px;
	margin-right: 16px;
}

#portfolio{
	width: 95vw;
	display: flex;
	flex-flow: row;
	
	
	margin: auto;
	justify-content: center;
}

.preview{
	margin: auto;						/*external placement control*/
	margin-top: 0px;
	margin-bottom: 40px;
	
	display: flex;						/*internal placement control*/
	justify-content: center;
	
	width: 250px;						/*image display*/
	height: 250px;
	object-fit: cover;
	
	border-radius: 32px;
}

.label{
	text-align: center;
	margin-top: 0px;
	position: relative;
	top: -25px;
}

footer{
	height: 125px;
	width: 100vw;
	
	background-color: #FFB400;
	border: 5px solid #FFB400;
	
	display: flex;
	flex-direction: column;
}

#email{
	text-align: center;
	font-size: 22px;
	color: black;
	margin-top: 38px;
	margin-bottom: 2px;
}

#YouTube{
	margin-top: 2px;
	text-align: center;
	color: black;
}